/app/Config
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
tags
/app/.sass-cache
/app/webroot/files/import/raw
/app/webroot/files/import/imported
/app/webroot/files/import/unimported