/** 
 * This website created by 
 * Parker Moore (http://www.parkermoore.de/) 
 * for the Cornell University Glee Club. 
 */

@import "variables";
@import "cake.generic";

body {
	background: image-url("bg-tile.jpg") repeat;
}

#section_listing {
	width: 66%;
	ul li {
		display: block;
	}
}

#login_logout {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 18px;
	color: darken(#fff, 10%);
	text-decoration: none;
	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}

.note {
	color: #aaa;
	form & {
		margin-top: -20px;
	}
}
.add_field {
	display: block;
	form & {
		margin-top: -10px;
		clear: both;
		margin-bottom: .2em;
		padding: .5em;
	}
}

.sub_field_bunch {
	margin-left: -.5em;
}

.routing {
	font-size: 20px;
	min-width: 64%;
	li a {
		display: block;
	}
}

.removeButton {
	color: red;
	text-decoration: none;
	opacity: 0.5;
	text-transform: uppercase;
	font-family: Arial;
	position: relative;
	left: 100%;
	top: -2.25em;
	display: block;
	font-size: 140%;
	padding: 1%;
	&:hover {
		color: red;
		opacity: 1;
		cursor: pointer;
		display: block;
	}
}

#navigation {
	li a {
		display: inline-block;	
	}
}


@import "media_queries";