/** 
 * This website created by 
 * Parker Moore (http://www.parkermoore.de/) 
 * for the Cornell University Glee Club. 
 */

@import "variables";
@import "cake.generic";

body {
	background: image-url("bg-tile.jpg") repeat;
}

#routing {
	font-size: 20px;
}

#section_listing {
	width: 66%;
	ul li {
		display: block;
	}
}

#login_logout {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 18px;
	color: darken(#fff, 10%);
	text-decoration: none;
	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}

.note {
	color: #aaa;
	form & {
		margin-top: -20px;
	}
}
.add_field {
	display: block;
	form & {
		margin-top: -10px;
		clear: both;
		margin-bottom: .2em;
		padding: .5em;
	}
}

.sub_field_bunch {
	margin-left: -.5em;
}

@import "media_queries";