/** 
 * This website created by 
 * Parker Moore (http://www.parkermoore.de/) 
 * for the Cornell University Glee Club. 
 */

@import "variables";
@import "cake.generic";

body {
	background: image-url("bg-tile.jpg") repeat;
}

#routing {
	font-size: 20px;
}

#section_listing {
	width: 66%;
}

#login_logout {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 18px;
	color: darken(#fff, 10%);
	text-decoration: none;
	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}